{% extends "base.html" %}
{% block title %}Second Edit Tool{% endblock %}
{% block content %}

<head>
    <title>The tool you have selected to edit:</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 10px;
		}
	</style>
</head>
<body>

    <h5>
      Please fill in the forms with the apporpriate
       information regarding the tool you would like to edit.
    </h5>

    <!-- maybe strip the string to get rid of the ''-->> 
    <form action = "/2_edit_tool_page" method = "POST">
      <p> <strong>This is the tool ID you selected: </strong><input type="text" name = "tool_id" value="{{ tool[0] }}" readonly></p> <br>
      <p>Tool Name (Be Relatively Specific): <input type="text" name="tool_name" value= "{{ tool[1] }}"/></p>
      <p> Location of Tool: <input type = "text" name = "tool_location" value= "{{ tool[2] }}"/></p>
      <p> Condition of Tool: <input type = "text" name = "tool_cond" value= "{{ tool[3] }}"/></p>
      <p><input type = "submit" name = "submit" /></p>
    </form>
</body>
{% endblock %}