{% extends "base.html" %}
{% block title %}Help {% endblock %}
{% block content %}

<div style="display:flex;">
  <div style="flex:1;margin-right:50px;">
    <h5><u>FAQ</u></h5>
    <p><em>What the hell even is this anyway?</em></p>
    <p>
      This is was originally the final project for the CS2300 course 
      but this will serve as a way for TKE to manage all of the tools and 
      equipment that we have in order to insure a good inventory and to keep
       track of important items.
    </p>
    <p><em>What is the login and logout for?</em></p>
    <p>
      The login and logout navigation items are for the house manager or
       site admins to go in and add and remove tools from the tke inventory
        database. 
    </p>
    <p><em>I want to checkout a tool. How do I do this?</em></p>
    <p>
      Navigate to the checkout tool tab and enter in the requested information 
      
    </p>
  </div>
  <div style="flex:1;">
    <h5><u>Contact Information</u></h5>
    <p><strong>House Manager</strong></p>
    <p><em>Name: </em>Billy Wise</p>
    <p><em>Phone: </em>(816) 344-1499</p>
    <p><strong>Software Maintainers</strong></p>
    <p><em>Name: </em>Connor Marler</p>
    <p><em>Phone: </em>(417) 493-5479</p>
    <p><em>Name: </em>Luke Herrin</p>
    <p><em>Phone: </em>(618) 406-9154</p>
    <p><em>Name: </em>Jason Gough</p>
    <p><em>Phone: </em>(636) 542-1577</p>
  </div>
</div>

{% endblock %}
