{% extends "base.html" %}
{% block title %}Edit Tool {% endblock %}
{% block content %}

<h5> What is the tool ID of the tool you would like to edit?</h5>

<form action = "/edit_tool_page" method = "POST">
  <p> Tool ID: <input type = "number" name = "serial_num" /></p>
  <p><input type = "submit" name = "submit" /></p>
</form>

<head>
	<title>All Tools in TKE Garage</title>
	<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 10px;
		}
	</style>
</head>
<body>
	<table>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Last User</th>
			<th>Location</th>
			<th>Last Returned</th>
			<th>Quality</th>
			<th>Last Taken</th>
		</tr>
		{% for tool in tools %}
			<tr>
				<td>{{ tool[0] }}</td>
				<td>{{ tool[1] }}</td>
				<td>{{ tool[2] }}</td>
					<td>{{ tool[3] }}</td>
				<td>{{ tool[4] }}</td>
				<td>{{ tool[5] }}</td>
				<td>{{ tool[6] }}</td>
			</tr>
		{% endfor %}
	</table>
</body>
{% endblock %}