{% extends "base.html" %}
{% block title %}Login Page{% endblock %}

{% block content %}
  {% with messages = get_flashed_messages() %}
    {%if messages%} 
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
     {% endif %} 
  {% endwith %}

<head>
  <style>
    #login-block {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
  <body>
    <div id="login-block">
      <form action = "/login" method = "POST">
        <p><strong>House Manager Password:</strong></p>
        <p><input type = "password" name = "password" /></p>
        <p><input type = "submit" name = "submit" /></p>
      </form>
    </div>
  </body>
</head>  
{% endblock %}