{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {%if messages%} 
      {% for msg in messages %}
        <p>{{msg}}</p>
      {% endfor %}
     {% endif %} 
  {% endwith %}
<p><strong> Welcome, Billy! </strong><br> 
  Here are some of the digital tools you may need as House Manager.
</p>

<a href="/add_tool_page"><button type="button" class="btn btn-primary btn-lg btn-block">Add Tool</button></a>
<br>
<a href="/remove_tool_page"><button type="button" class="btn btn-secondary btn-lg btn-block">Remove Tool</button></a>
<br>
<a href="/edit_tool_page"><button type="button" class="btn btn-primary btn-lg btn-block">Edit Tool</button></a>
<br>
<a href="/view_tools_page"><button type="button" class="btn btn-secondary btn-lg btn-block">View All Tools</button></a>
<br>
<a href="/garage"><button type="button" class="btn btn-primary btn-lg btn-block">Garage Clean Directory</button></a>
<br>
<a href="/view_members"><button type="button" class="btn btn-secondary btn-lg btn-block">View Members</button></a>
<br>
<a href="/contact_directory"><button type="button" class="btn btn-primary btn-lg btn-block">House Manager Directory</button></a>

{% endblock %}